@import 'main';

/* Page 1 */
/* Section 1 */
#section-home{
    /*background-attachment: fixed;*/
    .background{
		width: 100%;
		min-height: 100%;
        height: auto;
		background-repeat: no-repeat;
	}

    .background::after{
		content: "";
	    background-image: linear-gradient(300deg,rgba(0,0,0,0.2) 0,#000 100%);
	    min-height: 100vh;
        height: auto;
	    position: absolute;
	    width: 100%;
	}

	.cover-content{
		position: relative;
		width: 100%;
		min-height: 100vh;
        height: auto;
		top: 0;
	}

	.content-text{
		position: relative;
		top: 270px;
        max-width: 1024px;
		padding: 0 120px;
        

        h2{
			color: $colorWhite;
			font-size: 42px;
			font-family: 'inter-bold';
		}

        h3{
			color: $colorPink;
			font-size: 22px;
			font-family: 'sourcesanspro-bold';
			line-height: 1px;
		}

		h4{
			color: $colorWhite;
			font-size: 20px;
			font-family: 'sourcesanspro-regular';
		}

        .button-orange{
			height: 40px;
			max-width: 150px;
			.text{
				font-size: 12px;
				font-family: 'inter-bold';
			}

			&:hover{
				background: linear-gradient(320deg, rgb(66 27 155) 10%, #5955d9 100%);				
			}
		}
        
	}

    .parallax-image{
        position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
        img{
            position: absolute;
			right: 0;
			bottom: 0;
            width: 113%;
            object-fit: fill;
			object-position: 350px;
        }
    }

	.image-movil{
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 100%;
		img{
            position: absolute;
			right: 0;
			bottom: 0;
			object-fit: fill;
			width: 100%;
		}
	}
}

/* Section 2 */
#section-solucionamos{
    background: white;
    height: auto;
    .content-solucionamos{
        position: relative;
        height: auto;
        top: $top - 50px;
		.content-text{
			h3{
				font-size: 38px;
				position: absolute;
				top: $top_solucion - 15;
				z-index: 1;
				font-family: 'inter-bold';
			}

			h4{
				position: absolute;
				top: $top_solucion * 3; 
				font-size: 18px;
				font-family: 'sourcesanspro-regular';
				z-index: 1;
				span{
					font-weight: bolder;
					color: $primaryColor;
				}
			}
		}
               

        img{
			border-radius: 15px;
			width: 80%;
			position: relative;
		}
    }
}

/* Section 3 */

.section {
	position: relative;
	width: 99vw;
	height: 100vh;
  
	&.horizontal {
	  padding: 0;
	  background: linear-gradient(100deg, #421b9b 100%, #5955d9 100%);
	  .horizontal-container {
		position: absolute;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		font-size: 0;
  
		&.pre-sticky {
		  top: 0;
		}
  
		&.sticky {
		  position: fixed;
		  top: 0;
		}
  
		&.post-sticky {
		  bottom: 0;
  
		  .horizontal-content {
			bottom: 0;
		  }
		}
	  }
  
	  .horizontal-content {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100vh;
	  }
  
	  .horizontal-item {
		display: inline-block;
		font-size: 50px;
		width: 100vw;
		height: 100vh;
		white-space: normal;
		&:nth-child(2){
			width: 300px;
			position: relative;
			right: 5px;
		}
		&:nth-child(3){
			position: relative;
			right: 8px;
			top: -170px;
		}
		&:nth-child(4){
			width: 350px;
			position: relative;
			right: 10px;
		}

		.content_creamos{
			width: 100%;
			height: 90%;
			padding: 50px;
			position: relative;
			top: 20vh;

			h3{
				position: relative;
				top: 90px;
				font-size: 38px;
				color: $colorWhite;
				font-family: 'inter-bold';
				left: 10px;
			}

			h4{
				position: relative;
				top: 108px;
				font-size: 18px;
				left: 10px;
				color: $colorWhite;
				font-family: 'sourcesanspro-regular';
		
				span{
					font-family: 'sourcesanspro-bold';
				}
			}

			img{
				position: relative;
				border-radius: 15px;
				width: 100%;
				height: 455px;
				object-fit: cover;
				object-position: center;
				/* left: 60px; */ 
			}
		}

		.content_plataforma{
			height: 100%;
			width: 100%;
			.row{
				position: relative;
				height: 100%;

				.content-text{
					position: relative;
					height: 100%;
					h3{
						position: relative;
						font-size: 38px;
						color: $colorWhite;	
						text-align: center;
						font-family: 'inter-bold';
						margin-top: 10vh;
					}
		
					a{
						outline: none;
						  text-decoration: none;
					}
		
					h4, h5{
						position: relative;
						top: 12px;
						color: $colorWhite;	
						text-align: center;
						font-family: 'sourcesanspro-bold';
						font-size: 18px;
					}
		
					h5{
						top: 31px;
						font-size: 16px;
						font-family: 'inter-regular';
					}
				}

				.content-circle{
					display: flex;
					justify-content: center;
					align-items: center;
					.circle{
						width: 60%; 
						height: 30%; 
						background: $darkColor;
						-moz-border-radius: 500px 500px 0 0;
						-webkit-border-radius: 500px 500px 0 0;
						border-radius: 500px 500px 0 0;
						position: absolute;
						bottom: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						img{
							position: absolute;
							top: -100px;
							width: 70%;
						}
						
					}
				}
			}
		}

	  }

	}
}


/* Section 4  Scroll */

#section-scroll-vertical{
	overflow: hidden;
    padding-top: 100vh;
    position: relative;
}

#scroll-vertical{
	position: absolute; 
	top: 0px;
	background: white; 
	height: 102vh;

	#tecnologia{
		position: absolute; 
		top: 0px;
		z-index: 2; 
		background: white; 
		height: 102vh;
	
		.nuestra_tecnologia{
			height: 100%;
			.columns_tecnologia{
				height: 100%; /*check*/
				.content-box{
					position: relative;
					left: 0;
					top: $top - 51px;
					height: 80%;
					max-width: 100%;
					padding: 0 124px;
	
					h3{
						font-size: 38px;
						font-family: 'inter-bold';
					}
	
					h4{
						color: $primaryColor;
						font-size: 20px;
						font-size: 'sourcesanspro-bold';
					}
	
					#scroll-vertical-content{
						width: 70vw;
						.box{
							.text{
								position: relative;
								top: 70px;
								float: left;
								width: 40%;
								display: flex;
								flex-direction: column;
								text-align: left;
								margin-left: 30%;
								div{
									min-height: 30px;
									height: auto;
									margin-bottom: 5px;
									span{
										float: left;
										color: $darkColor;
									}
									p{
										margin-left: 10px;
										float: left;
										&:nth-child(3){
											img{
												width: 15px;
												cursor: pointer;
												position: relative;
												top: -5px;
												left: -10px;
											}
	
											&:hover{
												position: relative;
												&::after{
													content: url('/imgs/icons/tooltip-finloop-partners.svg');
													position: absolute;
													left: 10px;
													top: -15px;
												}
											}
										}
									}
								}
							}
	
							.image{
								float: left;
								width: 30%;
								height: 600px;
								display: flex;
								justify-content: center;
								align-items: center;
								

								.principal{
									width: 204px;
									height: 412px;
									position: relative;
									top: -70px;
								}

								.top-left{
									z-index: 2;
									position: relative;
									top: -260px;
									right: -50px;
								}

								.bottom-right{
									z-index: 2;
									position: relative;
									bottom: -100px;
									right: 50px;
								}
							}
						}
					}
				}

				.img1-left-scrolling, .img2-left-scrolling{
					opacity: 0; 
					transform: translate(200%, 200%) rotate(-130deg);
					transition-duration: 1s;
				}
				
				
				.img1-right-scrolling, .img2-right-scrolling{
					transform: translate(-100%, -300%) rotate(-130deg);
					transition-duration: 1s;
					opacity: 0; 
				}
	
				.slick-dots{
					width: 45px;
					position: absolute;
					top: 40%;
					-webkit-transform: translateY(-40%);
					transform: translateY(-40%);
					left: -1vw;
					font-family: 'inter-bold';
					&::before {
						background: $colorPink;
						content: "";
						display: block;
						height: 55%;
						left: 50%;
						opacity: .42;
						position: absolute;
						top: 0;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						width: 4px;
					}
					
					&::after {
						background: $colorPink;
						content: "";
						display: block;
						height: 0;
						left: 50%;
						opacity: 1;
						position: absolute;
						top: 0;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						-webkit-transition: all 550ms ease-in-out;
						transition: all 550ms ease-in-out;
						width: 4px;
					}
	
					li {
						margin-bottom: 74px;
						top: -13px;
						
						button{
							background: $colorPink;
							border: 0;
							border-radius: 50%;
							color: transparent;
							display: block;
							height: 15px;
							margin: 0;
							opacity: .42;
							outline: 0;
							padding: 0;
							pointer-events: none;
							width: 15px;
							position: relative;
							left: 2px;
						}
	
						.slick-checking{
							background: $colorPink;
							opacity: 1;
						}
	
						&::after{
							position: absolute;
							top: -9px;
							left: 20px;
							min-width: 20vh;
							padding: 1px;
							color: $secondaryColor;
							text-align: left;
							font-size: 22px;
							opacity: 0.42;
							font-family: 'inter-bold';
						}
						
						&:nth-child(1){
							&::after{
								content: 'Originación';
							}
						}
	
						&:nth-child(2){
							&::after{
								content: 'Administración';
							}
						}
	
						&:nth-child(3){
							&::after{
								content: 'Mitigación de riesgos';
							}
						}
	
					}
	
					.slick-active{
						button{
							background: $colorPink;
							opacity: 1
						}
	
						&::after{
							opacity: 1;
						}
					}
				}
	
				.first{
					&::after{
						height: 27%
					}
				}
	
				.complete{
					&::after{
						height: 54%
					}
				}
			}
	
			.image-bar{
				display: flex;
				justify-content: center;
				overflow: hidden;
				background: linear-gradient(180deg, rgba(89, 85, 217, 1) 10%, #421b9b 100%);
				height: 100vh;
				
				.image-bar-item{
					min-width: 105%;
					min-height: 100%;
					flex-shrink: 0;
				}

				.download{
					min-width: 100%;
					min-height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					display: none;
					img{
						width: 70%;
					}

					p{
						color: $colorWhite;
						margin-top: 21px;
						font-size: 15px;
						font-family: 'inter-regular';
					}

					#stores{
						width: 100%;
						display: flex;
						justify-content: center;
						z-index: 2;
						a{
							img{
								width: 121px;
								height: 39px;
								margin-right: 30px;
							}
						}
					}
				}
			}
		}
	}
}


.tecnologia-movil{
	z-index: 1;
	// background-image: url('../imgs/page1/originacion.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 0px;
	min-height: 100vh;
	height: auto;
	.content{
		position: relative;
		padding: 30px;
		margin-top: 10vh;
		min-height: 50vh;
		height: auto;
		h2{
			font-size: 26px;
			font-family: 'inter-bold';
		}
		.segment{
			color: $secondaryColor;
			position: relative;
			margin-top: 50px;
			font-size: 22px;
			font-family: 'inter-bold';
		}
		
		h3{
			position: relative;
			margin-top: 20px;
			font-size: 18px;
			color: $primaryColor;
			font-family: 'sourcesanspro-bold';
		}

		.description{
			position: relative;
			margin-top: 60px;
			p{
				position: inherit;
				margin-top: 20px;
				font-size: 14px;
				font-family: 'sourcesanspro-regular';
				&::before{
					content: '•';
					color: $darkColor;
				}
			}
		}

		.download{
			margin-top: 71px;
			text-align: center;
			font-size: 15px;
			color: $primaryColor;
			font-size: 'sourcesanspro-regular';
			.stores{
				position: relative;
				margin-top: 16px;
			}
		}
	}
}


/* Section 5 */

#section-emprende{
	min-height: 100%;
	height: auto;
	width: 100%;
	.content_emprende{
		min-height: 100vh;
		height: auto;

		.image{
			height: 100vh;
			position: relative;
			top: 100px;
			img{
				width: 43vw;
				/*height: 100vh;*/
				left: -50px;
				position: relative;
				z-index: 1;
				object-fit: fill;
				filter: drop-shadow(1px 1px 6px #545454);
			}
		}

		.text-wrapper{
			.partners{
				height: 50px;
				margin-top: 200px;
				h3{
					color: $darkColor;
					font-size: 24px;
					font-family: 'inter-bold';
					img{
						margin-left: 5px;
					}
				}
			}

			h3{
				margin-left: 16px;
				font-size: 38px;
				font-family: 'inter-bold';
			}

			h4{
				margin-left: 16px;
				margin-top: 26px;
				font-size: 18px;
				font-family: 'sourcesanspro-regular';
				span{
					color: $primaryColor;
				}
			}

			h5{
				margin-left: 16px;
				margin-top: 40px;
				font-family: 'sourcesanspro-bold';
				font-size: 16px;
			}

			#puntos{
				margin-left: 16px;
				p{
					font-size: 14px;
					font-family: 'sourcesanspro-regular';
				}
			}

			button{
				position: relative;
				top: 40px;
				font-size: 13px;
				font-family: 'inter-semibold'; 
				width: 150px;
				height: 40px;
				margin-left: 16px;
			}
	
		}
	}
}

/* Section 5 */
#section-que-puede{
	width: 100%;
	min-height: 100vh;
	height: auto;
	.content_que_puede{
		margin-top: 15%;
		margin-bottom: 5%;
		.partner{
			position: relative;
			left: 5px;
			width: 288px;
			height: 41px;
		}

		.image-right{
			text-align: right;
		}
		
		.que_puede_img{
			/*width: 32vw;*/
			width: 100%;
			border-radius: 15px;
		}

		h3{
			color: $colorWhite;
			font-size: 38px;
			text-align: center;
			margin-bottom: 50px;
			font-family: 'inter-bold';
			img{
				border-radius: 0px;
				margin-left: 2px;
			}
		}

		h4{
			color: $colorWhite;
			font-size: 20px;
			width: 80%;
			font-family: 'sourcesanspro-semibold';
		}

		.checks{
			width: 100%;
			span{
				img{
					width: 24px;
					position: relative;
				}
				p{
					width: 100%;
					color: $colorWhite;
					font-size: 16px;
					font-family: 'sourcesanspro-regular';
					position: relative;
					left: 35px;
					margin-top: -22px;
					span{
						font-weight: bolder;
					}
				}
			}
		}

		.separator{
			margin-top: 15px;
			height: 1px;
			background-image: linear-gradient(160deg, $darkColor, $primaryColor );
		}

		.columns{
			h4{
				width: 100%;
				text-align: right;
				font-size: 20px;
				font-family: 'sourcesanspro-semibold';
			}

			.partner-small{
				position: relative;
				width: 145px;
			}
	

			p{
				margin: 2px;
				color: $colorWhite;
				font-size: 16px;
				font-family: 'sourcesanspro-regular';
			}

		}
	}
}


/* Section 6 */
#section-premios-carrusel{
	background: $colorWhite;
	min-height: 50vh;
	.content_premios{
		margin-top: 200px;
		max-width: 90%;

		h3{
			text-align: center;
			font-size: 38px;
			font-family: 'inter-bold';
			color: $darkColor;
		}

		.row{
			div{
				text-align: center;
				p{
					color: $darkColor;
					font-size: 12px;
					font-family: 'sourcesanspro-regular';
				}
			}

			.carrusel-images{
				padding: 0px;
				height: 120px;
				div{
					width: 100%;
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					img{
						height: 65px;
					}
				}
				p{
					font-size: 11px;
					font-family: 'sourcesanspro-regular';
				}
			}
		}
	}
}

/* Section 7  Contadores*/
#section-contadores{
	min-height: 80vh;
	height: auto;

	.content-contadores{
		margin-top: 152px;

		h3{
			font-size: 34px;
			font-family: 'inter-bold';
		}

		h4{
			color: $primaryColor;
			font-size: 24px;
			font-family: 'inter-bold';
		}

		.title-cifras{
			margin-top: 171px;
			margin-bottom: 39px;
		}

		.div-count{
			width: 100%;
			height: 75px;
			margin-bottom: 2px;
			display: flex;
			justify-content:flex-start;

			h4{
				color: $darkColor;
				font-size: 57px;
			}

			.simbolos{
				font-size: 38px;
				position: relative;
				top: 15px;
			}

			.pesos{
				position: relative;
				top: 10px;
				left: 10px;
				width: 100px;
				font-size: 20px;
				font-family: 'inter-bold';
			}
		}


	}

	p{
		position: inherit;
		width: 100%;
		font-size: 16px;
		font-family: 'sourcesanspro-regular';
		
		span{
			display: block;
		}
	}

	.image{
		height: 700px;
		display: flex;
		justify-content: center;
		align-items: center;
		.img-cifras{
			position: relative;
			top: 80px;
			width: 646.55px;
		}
	}

	.footer-cifras{
		position: relative;
		margin-top: 18px;
		img{
			width: 221.89px;
			height: 31px;
		}
		h4{
			font-size: 20px;
			font-family: 'inter-bold';
			color: $dark;
		}
		p{
			font-size: 16px;
			font-family: 'sourcesanspro-regular';
		}
	}
}

/* Section 8*/
#section-que-esperas{
	background-image: url('../imgs/page1/modelo-innovador.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 580px;
	.content_que_esperas{
		position: relative;
		margin-top: 124px;

		h5{
			color: $colorWhite;
			text-align: center;
			font-size: 22px;
			font-family: 'inter-bold';
		}

		h3{
			color: $colorWhite;
			text-align: center;
			font-size: 38px;
			font-family: 'inter-bold';
		}

		p{
			color: $colorWhite;
			text-align: center;
			position: relative;
			font-family: 'inter-semibold';
			font-size: 15px;
			top: 30px;
		}
		
		.stores{
			position: relative;
			top: 30px;
			left: 20px;
			text-align: center;
			img{
				margin-right: 45.2px;
				width: 121.79px;
				height: 39.83px;
			}
		}
	}
}

/* Section 9 */
#section-podemos-ayudarte{
	min-height: 100vh;
	height: auto;

	.content_podemos_ayudarte{
		margin-top: 209px;
		color: $colorWhite;

		h3{
			font-size: 38px;
			margin-bottom: 55px;
			font-family: 'inter-bold';
		}

		.text-menu{
			position: relative;
			div{
				cursor: pointer;
				margin-bottom: 48px;
				height: 40px;

				a{
					text-decoration: none;
					color: $colorWhite;
					
					h4{
						font-family: 'sourcesanspro-bold';
						font-size: 22px;
						width: 300px;
						height: 40px;
						float: left;
						text-align: right;
						margin-right: 10px;
					}

					&::before{
						content : url('../imgs/icons/arrow.svg');
						position: relative;
						top: 5px;
					}
				}

				a:hover::before{
					content : url('../imgs/icons/arrow-02.svg');
					position: relative;
					top: 5px;
				}

				img{
					float: left;
				}

				p{
					position: relative;
					left: 20px;
					font-size: 14px;
					font-family: 'sourcesanspro-regular';
					span{
						font-weight: bolder;
						position: relative;
						right: 11px;
					}
					width: 70%;
				}
			}

			#address{
				position: relative;
				margin-top: 134px;
				height: 80px;
			}
		}

		#img-soporte{
			border-radius: 15px; 
			width: 100%;
			height: 587px;
			position: relative;
		}

		.empowering-img{
			width: 140px;
			height: 60px;
		}
	}
}

/* Media Query */
@media only screen and (max-width: 400px) {
	#section-solucionamos{
		.content-solucionamos{
			.content-text{
				h3{width: 100% !important;}
				h4{width: 100% !important;}
			}

			.image-pareja{
				img{
					width: 95% !important;
				}
			}
		}
	}

	#section-podemos-ayudarte{
		.text-menu{
			div{
				a::before{
					right: -105px;
					top: 30px !important;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#section-solucionamos{
		.content-solucionamos{
			.content-text{
				h3{
					font-size: 26px;
					width: 80%;
					.salto{
						display: none;
					}
				}
				h4{
					width: 80%;
					font-size: 16px; 
					margin-top: -30px;
					.salto{
						display: none;
					}
				}
			}
		}
	}

	#section-contadores{
		.content-contadores{
			h3{
				font-size: 26px;
				.salto{
					display: inline;
				}
			}
			.title-cifras{
				font-size: 24px;
			}

			.div-count{
				h4{
					font-size: 42px;
				}
				.simbolos{
					position: relative;
					top: -1px;
				}
				.pesos{
					font-size: 13px;
				}
			}

			p{
				font-size: 14px;
			}
		}

		.footer-cifras{
			h4{
				font-size: 18px;
			}
		}
	}

	#section-que-esperas{
		.content_que_esperas{
			h5{
				font-size: 20px;
			}
			h3{
				font-size: 28px;
			}
			p{
				font-size: 13px;
			}
		}
	}

	#section-podemos-ayudarte{
		.text-menu{
			h3{
				text-align: center;
			}
			div{
				text-align: center;
				margin: 0px 20px;
			}

			#address{
				margin-top: 50px;
				.salto{
					display: none;
				}
				p{
					width: 100%;
				}
			}
		}
		.img-soporte-content{
			display: flex;
			justify-content: center;
			align-items: center;
			#img-soporte{
				width: 277px;
				height: 317px;
			}	
		}	
	}
}

@media only screen and (max-width: 768px) {
	/* Section 1*/
	#section-home{
		.content-text{
			top: 94px;
			padding: 0 22px !important;
			h2{ font-size: 28px; }
			h3{ font-size: 16px; }
			h4{ font-size: 16px; }
			.button-orange{
				height: 30px;
				max-width: 130px;
			}
		}
		.parallax-image{
			img{
				width: 150% !important;
			}
		}
	}

	.content_creamos{
		position: relative;
		top: 10px !important;
		.image-creditos{
			text-align: center;
			img{
				width: 365px !important;
				height: 240px !important;
			}
		}
		.text-content{
			top: -10px !important;
			position: relative;
		}
	}

	.content_plataforma{
		.content-circle{
			.circle{
				width: 100% !important;
    			height: 50% !important;
				position: inherit;
				bottom: -15% !important;
				img{
					width: 365px !important;
					height: 317px !important;
				}
			}
		}
	}

	#section-que-puede{
		.content_que_puede{
			.columns{
				h4{
					text-align: left;
				}
			}
		}
	}

	#section-podemos-ayudarte{
		.text-menu{
			h3{
				font-size: 26px;
			}
			div{
				h4{
					text-align: left !important;
					font-size: 20px !important;
				}
			}
		}
	}

}

@media only screen and (max-width: 992px) {
	#section-solucionamos{
		.content-solucionamos{
			top: 0px;
			min-height: 100vh;
			text-align: left !important;
			.content-text{
				display: flex;
				justify-content: center;
				align-items: center;
			}

			.image-pareja{
				text-align: center !important;
				margin-top: 15px;			
				img{
					position: relative;
					top: 40vh;
					margin: 0px auto;
				}
			}
		}
	}

	.content_creamos{
		min-height: 70vh;		
		.salto{
			display: inline;
		}
		h3{
			position: relative;
			top: 10px !important;
			font-size: 26px !important;
		}
		h4{
			position: relative;
			top: 10px !important;
			font-size: 16px !important;
		}
	}

	.content_plataforma{
		.content-text{
			h3{
				font-size: 26px !important;
				padding: 1rem;
				width: 80%;
				.salto{
					display: inline !important;
				}
			}
			h4{
				width: 80%;
				font-size: 16px !important;
			}
			h5{
				width: 80%;
				font-size: 14px !important;
			}

			.content-circle{
				height: 49vh;
				width: 80%;
				.circle{
					img{
						position: inherit;
						top: -90px !important;

					}
				}
			}
		}
	}

	#section-emprende{
		.content_emprende{
			.text-wrapper{
				padding: 30px;
				.content{
					position: relative;
					top: -100px;
				}
			}
		}
	}

	
	#section-podemos-ayudarte{
		#img-soporte{
			position: relative;
			top: 10px;
			border-radius: 15px; 
			width: 100%;
			height: 387px !important;
			position: relative;
		}
	}

}
@media only screen and (max-width: 1200px) {
	#section-solucionamos{
		.content-solucionamos{
			text-align: right;
		}
	}

	#section-contadores{
		padding: 50px;
		.content-contadores{
			.title-cifras{
				margin-top: 62px;
			}
		}
		
		.image{
			.img-cifras{
				width: 546.55px;
			}
		}

		.footer-cifras{
			h4, p{
				.salto{
					display: inline;
				}
			}
		}
	}
}
@media only screen and (max-width: 1500px) {
	
}

@media screen and ( max-height: 700px ) {
	#section-home{
		.content-text{
			position: relative;
			top: 120px;
			max-width: 1024px;
			padding: 0 120px;
		}

		.parallax-image{
			img{
				width: 97%;
			}
		}
	}
	
	.content-text{
		h3{
			margin-top: 0px !important;
		}
	}

	.content-box{
		position: relative;
		top: 0px !important;

		#scroll-vertical-content{
			position: relative;
			top: -70px;
		}
	}
}
@media screen and ( max-height: 800px ) {}
@media screen and ( min-height: 900px ) {
	/* Section 1*/
	#section-home{
		.parallax-image{
			img{
				position: absolute;
				right: 0;
				bottom: 0;
				width: 93%;
				object-fit: fill;
				object-position: 350px;
			}
		}
	}
}

