$primaryColor 	 : #5955d9;
$darkColor    	 : #421b9b;
$secondaryColor  : #421b9b;
$secondaryLight  : #808080;
$colorOrange 	 : #f78f1f;
$colorPink		 : #f25e6b;
$colorWhite      : #ffffff;
$dark            : #222831;

$top : 250px;
$top_solucion : 70px;

@font-face {
	font-family: 'inter-bold';
	src: url('../fonts/Inter-Bold.ttf');
}

@font-face {
	font-family: 'inter-regular';
	src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
	font-family: 'inter-semibold';
	src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
	font-family: 'sourcesanspro-bold';
	src: url('../fonts/SourceSansPro-Bold.otf');
}

@font-face {
	font-family: 'sourcesanspro-regular';
	src: url('../fonts/SourceSansPro-Regular.otf');
}

body, html{
	margin: 0px auto;
}


:root {
	--animate-duration: 500ms;
	--animate-delay: 0.9s;
}


.navbar{
	z-index: 9999999;
	position: fixed;
	width: 100%;
	left: 0;
	padding: 25px 50px;
	height: 100px;
	top: 0;
	.logo{
		img{
			width: 154px;
			height: 50px;
		}
	}

	#menu-rigth{
		position: absolute;
    	right: 10px;
		font-family: 'inter-regular';
    	.nav-item{
    		margin-right: 31px;
    		a{
    			color: $colorWhite;	
    		}
    	}

    	.button-menu{
    		border: 3px solid $colorOrange;
    		border-radius: 25px;
    		min-width: 150px;
    		text-align: center;
    	}

		
		.dropdown-menu{
			background: rgb(255, 255, 255, 0.6);
			padding: 20px;
			/*border-radius: 15px;*/
			position: absolute;
			right: -15px;
			top: 50px;

			.dropdown-item{
				text-align: center;
				&:hover{
					background: $primaryColor;
				}	
			}

			&::after{
				content: " ";
				position: absolute;
				bottom: 100%;  
				left: 45%;
				margin-left: -5px;
				border-width: 10px;
				border-style: solid;
				/* border-color: transparent transparent $darkColor transparent;*/
				border-color: transparent transparent #dad3ec transparent;
			}
		}
	}

	.navbar-toggler{
		border: none;
	}
	
	.custom-toggler{
		.navbar-toggler-icon {
			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(247, 143, 31)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
		}
	}
}

.nav_scroll, .nav_scroll-1{
	background-color: white;
	#menu-rigth{
    	.nav-item{
    		a{
    			color: $darkColor ;
				font-weight: bolder;
    		}
    	}

		#iniciar_session{
			height: 35px;
			width: 140px;
			font-size: 13px;
			a{
				color: white;
				position: relative;
				top: -3px;
				text-transform: capitalize;
			}
		}

		.dropdown-menu{
			background: rgb(255, 255, 255, 0.80);
			.dropdown-item{
				color: $dark;
			}
			&::after{
				border-color: transparent transparent #dad3ec transparent;
			}
		}
	}

}

.nav_scroll-1{
	
	#menu-rigth{
		#iniciar_session{
			background-image: linear-gradient(100deg, $colorPink 10%, $colorOrange);
		}
	
		.button-menu{
			border: 3px solid $dark;
		}
	}
}

.section-block{
	width: 100%;
	min-height: 100vh;
	height: auto;
	position: relative;
}

.button-orange{
	align-items: center;
	background-image: linear-gradient(100deg, $colorPink 10%, $colorOrange);
	border: 0;
	border-radius: 30px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-size: 16px;
	font-weight: 700;
	height: 44px;
	justify-content: center;
	letter-spacing: .4px;
	line-height: 1;
	min-width: 170px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 3px;
	text-decoration: none;
	text-transform: uppercase;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	
	a{
	  outline: none;
	  text-decoration: none;
	  color: $colorWhite;
	}
}


.button-orange:active {
	outline: 0;
}
  
.button-orange:hover {
	outline: 0;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}


.active-scrolling{
	top: 100px; 
	position: fixed !important;
	bottom: 0px;
}

.dummys{
	height: 100vh;
	opacity: 0.1;
}

footer{
	height: 450px;
	color: $colorWhite;
	background-image: url('../imgs/icons/patt-footer.svg');
	background-size: 100px;
	background-repeat: repeat;

	.background_color{
		background-color: rgb(34, 40, 49, 0.99);
		height: 100%;
	}

	#footer{
		height: 100%;
		.content-links{
			height: 85%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			.links{
				position: relative;
				top: 30px;
				.menu-footer{
					margin-bottom: 10px;
					a{
					
						text-decoration: none;
						color: $colorWhite;
						font-size: 12px;
						width: 100%;
						font-family: 'sourcesanspro-regular';
						
					}
				}
			}

			p{
				font-size: 12px;
				font-family: 'sourcesanspro-regular';
			}
		}
	}

	.social{
		a{
			outline: none;
			text-decoration: none;
			padding: 1px;
			margin-right: 15px;
			img{
				width: 18px;
			}
		}
	}

	.goplek{
		text-align: right;
		img{
			width: 60px;
		}
	}
}

/*degradados y colores*/

.white{
	background-image: url('../imgs/icons/patt.svg');
	background-repeat: repeat;
	background-size: 100px;
	width: 100%;
	min-height: 100vh;
	height: auto;
	.background_color{
		background: linear-gradient(160deg, #F1F0F8 20%, rgb(225, 225, 225, 0.9) 100%);
		min-height: 100vh;
		height: auto;
	}
}

.purpue{
	min-height: 102vh;
	height: auto;
	.background_color{
		background: linear-gradient(100deg, rgb(66 27 155) 100%, #5955d9 100%);
		min-height: 102vh;
		height: auto;
	}
}

.white-background{
	min-height: 102vh;
	height: auto;
	.background_color{
		background: rgba(250, 250, 250, 0.90);
		min-height: 102vh;
		height: auto;
	}
}

.blue{
	background-image: url('../imgs/icons/patt.svg');
	background-repeat: repeat;
	background-size: 100px;
	height: 102vh;
	min-height: auto;
	.background_color{
		background:  linear-gradient(280deg, rgb(89, 85, 217, 0.97) 5%, $darkColor 80%);
		height: 102vh;
		min-height: auto;	
	}	
}


.blue-2{
	background-image: url('../imgs/icons/patt.svg');
	background-repeat: repeat;
	background-size: 100px;
	min-height: 102vh;
	height: auto;
	.background_color{
		background:  rgb(89, 85, 217, 0.97);
		min-height: 102vh;
		height: auto;
	}	
}

.degradado-purpe{
	background:  linear-gradient(100deg, rgb(89, 85, 217, 0.97) 20%, $darkColor 100%);
}

.salto{
	display: block;
}

.cover{

	.background{
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
	}

	.background::after{
		content: "";
	    background-image: linear-gradient(300deg,rgba(0,0,0,0.2) 0,#000 100%);
	    height: 100%;
	    position: absolute;
	    width: 100%;
	}

	.cover-content{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
	}

	.content-text{
		position: relative;
		top: 250px;
	}
}

#aviso-privacidad{
	.row{
		position: relative;
		margin-top: 188px;

		h2{
			font-size: 38px;
			font-family: 'inter-bold';
			color: $darkColor;
		}
	}
	.btn-regresar{
		width: 140px;
		height: 35px;
		margin-top: 91px;
		margin-bottom: 120px;
		font-size: 13px;
	}
}

#terminos{
	.content-terminos{
		position: relative;
		margin-top: 188px;

		h2{
			font-size: 38px;
			font-family: 'inter-bold';
			color: $darkColor;
		}

		h3{
			font-size: 28px;
			font-family: 'inter-bold';
			color: $darkColor;
		}

		img{
			width: 374px;
			height: 367px;
		}
	}

	.btn-regresar{
		width: 140px;
		height: 35px;
		margin-top: 91px;
		font-size: 13px;
	}	
}

#transparencia{
	.content-transparencia{
		position: relative;
		margin-top: 188px;
		h2{
			font-size: 38px;
			font-family: 'inter-bold';
			color: $darkColor;
		}

		h4{
			font-size: 16px;
			font-family: 'sourcesanspro-bold';
		}

		#table-1{
			width: 105%;
		}

		#table-2{
			width: 105%;
		}
	}

	.btn-regresar{
		width: 140px;
		height: 35px;
		margin-top: 91px;
		font-size: 13px;
	}	
}


/* Media Query */
@media only screen and (max-width: 400px) {}
@media only screen and (max-width: 600px) {}
@media only screen and (max-width: 768px) {}
@media only screen and (max-width: 992px) {}
@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 1500px) {}

@media screen and ( max-height: 700px ) {}
@media screen and ( max-height: 800px ) {}
@media screen and ( max-height: 900px ) {}

