@import 'main';

/* Menu Hamburguesa*/


.felx_row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_menu,
.btn_menu {
    position: fixed;
    top: 30px;
    right: 5%;
    z-index: 9999;
}

#btn_menu {
    display: none;
}

.btn_menu {
    width: 40px;
    height: 40px;
}


.btn_span {
    position: absolute;
    top:0;
    width: 30px;
    height: 3px;
    background: $colorOrange;
    transition: all .3s ease;
}

.btn_span:nth-child(2) {
    top: 10px
}

.btn_span:nth-child(3) {
    top: 20px
}

#btn_menu:checked ~ .btn_menu #btn_span_1 {
    top: 10px;
    transform: rotate(45deg);
}

#btn_menu:checked ~ .btn_menu #btn_span_2{
    opacity: 0;
}

#btn_menu:checked ~ .btn_menu #btn_span_3{
    top:10px;
    transform: rotate(-45deg);
}

.container_menu {
    width: 100%;
    height: 100vh;
}

.container_menu {
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100%;
    height: 100%;
    background:  linear-gradient(100deg, $darkColor 20%, rgb(89, 85, 217, 0.98) 70%);
    transition: all .5s ease;
    z-index: 999;
}


#btn_menu:checked ~ .container_flex .container_menu {
    left: 0;
	overflow: hidden;
}


.content-menu-hamburguesa{
	position: relative;
	top: $top - 100px;

	.image{
		display: flex;
		justify-content: center;
		align-items: center;
		img{
			width: 484px;
		}
	}

	.menu{
		display: flex;
		align-items: center;
		li {
			list-style: none;
			width: 100% !important;
			margin-bottom: 35px;
			a{
				&::after{
					background: $colorPink;
					bottom: -13px;
					content: "";
					display: block;
					height: 3px;
					left: 0;
					position: absolute;
					-webkit-transition: all 550ms ease-in-out;
					transition: all 550ms ease-in-out;
					width: 0;
				}
			}
		}
		
		a {
			position: relative;
			width: 100%;
			height: 10vh;
			text-decoration: none;
			font-size: 34px;
			font-family: 'inter-regular';
			color: #fff;
			
			&:hover{
				color: $colorPink;
				right: -20px;
				&::after{
					width: 120px;
					left: -30px;
				}
			}
		}
	}
}



/* Seccion 1 */
#section-partners{
    position: relative;
	min-height: 100vh;
    height: auto;
	background-position: right;
	background-image: url('/imgs/page3/cover-finloop-partners.jpg'); 
	background-size: cover;
    .container{
        position: absolute;
        top: 0;
        min-height: 100%;
        height: auto;

        .content_partners{
            margin-top: 292px;
            img{
				width: 408px;
                height: 57px;
				margin-bottom: 55px;
			}

            h2, h3{
				color: $colorWhite;
			}

            h2{
				font-size: 48px;
				font-family: 'inter-bold';
				margin-bottom: 22px;
			}

            h3{
				font-size: 38px;
				font-family: 'inter-bold';
			}

            h4{
				color: $colorPink;
				font-size: 22px;
				font-family: 'sourcesanspro-bold';
				margin-bottom: 50px;
			}

            .button-orange{
				font-size: 12px;
				font-family: 'inter-bold';
			}
        }
    }
}

/* Sección 2*/
#section-te-brindamos{
    min-height: 100%;
	height: auto;
    #card-points{
        border-radius: 15px;
		background: $colorWhite;
        padding: 102px;
		-webkit-box-shadow: 5px 0px 20px 0 rgb(0 0 0 / 30%);
		box-shadow: 5px 0px 20px 0 rgb(0 0 0 / 30%);
		position: relative;
        top: -60px;
		margin-bottom: 150px;

        .titles{
			h3{
				color: $darkColor;
				font-size: 38px;
				font-family: 'inter-bold';
			}
			margin-bottom: 50px;
		}

        .points{
			min-height: 80px;
			height: auto;
			display: flex;
			margin-bottom: 30px;
			.image{
				display: flex;
				width: 80px;
				justify-content: center;
				img{
					width: 50px;
					height: 50px;
				}
			}
			.text{
				width: 80%;
				height: 100%;
				padding: 5px;
				p{
					font-size: 16px;
					font-family: 'sourcesanspro-regular';
					span{
						color: $darkColor;
						font-family: 'sourcesanspro-bold';
					}
				}
			}
		}

        h2{
			font-size: 22px;
			font-family: 'inter-bold';
		}
	
		h3{
			font-size: 18px;
			font-family: 'sourcesanspro-bold';
			color: $darkColor;
		}
    }

    #oportunidad{
        margin-bottom: 100px;
        .image-person{
			display: flex;
			align-items: center;
			justify-content: center;
			img{
				width: 484px;
				height: 570px;
				border-radius: 15px;
			}
		}

        .text-checks{
            color: $colorWhite;
            h2{
				font-family: 'inter-bold';
				font-size: 38px;
				margin-bottom: 44px;
			}

            .check{
				margin-bottom: 10px;
				.image{
					width: 20px;
					height: 20px;
					img{
						width: 20px;
					}
				}

				.text{
					margin-left: 12px;
					p{
						font-size: 20px;
						font-family: 'sourcesanspro-regular';
					}
				}
			}

            h3{
                margin-top: 59px;
				font-size: 18px;
				font-family: 'inter-bold';
				img{
					width: 157px;
                    height: 22px;
					margin-right: 10px;
					margin-left: 10px;
				}
			}
        }

        button{
            margin-top: 41px !important;
			width: 232px; 
            height: 40px;
			margin-top: 16px;
			font-size: 13px;
			font-family: 'inter-semibold';
			span{
				width: 120%;
			}
		}
    }
}

/* Sección 3 */
#section-olvidate{
    min-height: 80vh;
	height: auto;
    .background_color{
        min-height: 80vh;
		height: auto;
        #olvidate{
            position: relative;
            margin-top: 222px;

            h3{
				color: $darkColor;
				font-family: 'inter-bold';
				font-size: 38px;
				text-align: center;
				margin-bottom: 24px;
			}

            p{
				font-size: 22px;
				font-family: 'sourcesanspro-regular';
				margin: 0px auto;
				text-align: center;
				span{
					color: $darkColor;
					font-family: 'sourcesanspro-bold';
				}
			}
        }
    }
}

/* Section 4  Scroll */

#section-scroll-vertical{
	overflow: hidden;
    padding-top: 100vh;
    position: relative;
}

#scroll-vertical{
	position: absolute; 
	top: 0px;
	background: white; 
	height: 102vh;

	#tecnologia{
		position: absolute; 
		top: 0px;
		z-index: 2; 
		background: white; 
		height: 102vh;
	
		.nuestra_tecnologia{
			height: 100%;
			.columns_tecnologia{
				height: 100%; /*check*/
				.content-box{
					position: relative;
					left: 0;
					top: $top - 51px;
					height: 80%;
					max-width: 100%;
					padding: 0 124px;
	
					h3{
						font-size: 38px;
						font-family: 'inter-bold';
					}
	
					h4{
						color: $primaryColor;
						font-size: 20px;
						font-size: 'sourcesanspro-bold';
					}
	
					#scroll-vertical-content{
						width: 70vw;
						.box{
							.text{
								position: relative;
								top: 70px;
								float: left;
								width: 40%;
								display: flex;
								flex-direction: column;
								text-align: left;
								margin-left: 30%;
								div{
									min-height: 30px;
									height: auto;
									margin-bottom: 5px;
									span{
										float: left;
										color: $darkColor;
									}
									p{
										margin-left: 10px;
										float: left;
										&:nth-child(3){
											img{
												width: 15px;
												cursor: pointer;
												position: relative;
												top: -5px;
												left: -10px;
											}
	
											&:hover{
												position: relative;
												&::after{
													content: url('/imgs/icons/tooltip-finloop-partners.svg');
													position: absolute;
													left: 10px;
													top: -15px;
												}
											}
										}
									}
								}
							}
	
							.image{
								float: left;
								width: 30%;
								height: 600px;
								display: flex;
								justify-content: center;
								align-items: center;
								

								.principal{
									width: 204px;
									height: 412px;
									position: relative;
									top: -70px;
								}

								.top-left{
									z-index: 2;
									position: relative;
									top: -260px;
									right: -50px;
								}

								.bottom-right{
									z-index: 2;
									position: relative;
									bottom: -100px;
									right: 50px;
								}
							}
						}
					}
				}

				.img1-left-scrolling, .img2-left-scrolling{
					opacity: 0; 
					transform: translate(200%, 200%) rotate(-130deg);
					transition-duration: 1s;
				}
				
				
				.img1-right-scrolling, .img2-right-scrolling{
					transform: translate(-100%, -300%) rotate(-130deg);
					transition-duration: 1s;
					opacity: 0; 
				}
	
				.slick-dots{
					width: 45px;
					position: absolute;
					top: 40%;
					-webkit-transform: translateY(-40%);
					transform: translateY(-40%);
					left: -1vw;
					font-family: 'inter-bold';
					&::before {
						background: $colorPink;
						content: "";
						display: block;
						height: 55%;
						left: 50%;
						opacity: .42;
						position: absolute;
						top: 0;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						width: 4px;
					}
					
					&::after {
						background: $colorPink;
						content: "";
						display: block;
						height: 0;
						left: 50%;
						opacity: 1;
						position: absolute;
						top: 0;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						-webkit-transition: all 550ms ease-in-out;
						transition: all 550ms ease-in-out;
						width: 4px;
					}
	
					li {
						margin-bottom: 74px;
						top: -13px;
						
						button{
							background: $colorPink;
							border: 0;
							border-radius: 50%;
							color: transparent;
							display: block;
							height: 15px;
							margin: 0;
							opacity: .42;
							outline: 0;
							padding: 0;
							pointer-events: none;
							width: 15px;
							position: relative;
							left: 2px;
						}
	
						.slick-checking{
							background: $colorPink;
							opacity: 1;
						}
	
						&::after{
							position: absolute;
							top: -9px;
							left: 20px;
							min-width: 20vh;
							padding: 1px;
							color: $secondaryColor;
							text-align: left;
							font-size: 22px;
							opacity: 0.42;
							font-family: 'inter-bold';
						}
						
						&:nth-child(1){
							&::after{
								content: 'Originación';
							}
						}
	
						&:nth-child(2){
							&::after{
								content: 'Administración';
							}
						}
	
						&:nth-child(3){
							&::after{
								content: 'Mitigación de riesgos';
							}
						}
	
					}
	
					.slick-active{
						button{
							background: $colorPink;
							opacity: 1
						}
	
						&::after{
							opacity: 1;
						}
					}
				}
	
				.first{
					&::after{
						height: 27%
					}
				}
	
				.complete{
					&::after{
						height: 54%
					}
				}
			}
	
			.image-bar{
				display: flex;
				justify-content: center;
				overflow: hidden;
				background: linear-gradient(180deg, rgba(89, 85, 217, 1) 10%, #421b9b 100%);
				height: 100vh;
				
				.image-bar-item{
					min-width: 100%;
					min-height: 100%;
					flex-shrink: 0;
				}

				.download{
					min-width: 100%;
					min-height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-direction: column;
					display: none;
					img{
						width: 70%;
					}

					p{
						color: $colorWhite;
						margin-top: 21px;
						font-size: 15px;
						font-family: 'inter-regular';
					}

					#stores{
						width: 100%;
						display: flex;
						justify-content: center;
						z-index: 2;
						a{
							img{
								width: 121px;
								height: 39px;
								margin-right: 30px;
							}
						}
					}
				}
			}
		}
	}
}

.tecnologia-movil{
	z-index: 1;
	// background-image: url('../imgs/page1/originacion.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 100% 0px;
	min-height: 100vh;
	height: auto;
	.content{
		position: relative;
		padding: 30px;
		margin-top: 10vh;
		min-height: 50vh;
		height: auto;
		h2{
			font-size: 26px;
			font-family: 'inter-bold';
		}
		.segment{
			color: $secondaryColor;
			position: relative;
			margin-top: 50px;
			font-size: 22px;
			font-family: 'inter-bold';
		}
		
		h3{
			position: relative;
			margin-top: 20px;
			font-size: 18px;
			color: $primaryColor;
			font-family: 'sourcesanspro-bold';
		}

		.description{
			position: relative;
			margin-top: 60px;
			p{
				position: inherit;
				margin-top: 20px;
				font-size: 14px;
				font-family: 'sourcesanspro-regular';
				&::before{
					content: '•';
					color: $darkColor;
				}
			}
		}

		.download{
			margin-top: 71px;
			text-align: center;
			font-size: 15px;
			color: $primaryColor;
			font-size: 'sourcesanspro-regular';
			.stores{
				position: relative;
				margin-top: 16px;
			}
		}
	}
}

/* Section 5 */

#section-testimonios{
    background-image: url('../imgs/page3/testimoniales.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 600px;

    .content_testimonios{
        height: 100%;
        .slider{
			height: 95%;
			text-align: center;
			img{
				width: 170px;
				display: inline-block;
			}

			h5{
				color: $colorWhite;
				text-align: center;
				margin-top: 1em;
				font-size: 22px;
				font-family: 'inter-bold';
			}
			h6{
				color: $colorWhite;
				text-align: center;
				font-family: 'sourcesanspro-semibold';
				font-size: 20px;
				img{
					width: 150px;
					margin-left: 10px;
				}
			}

			#testimonials-slider{
				.slick-dots{
					position: absolute;
					bottom: -100px;

					li{
						button{
							width: 10px;
							height: 10px;
							border-width: 1px;
							border-style: solid;
							border-radius: 100%;
							border-color: #d66049;
							background-color: transparent;
						}

						&.slick-active{
							button:before{
								content: "";
								width: 12px;
								height: 12px;
								border-width: 1px;
								border-style: solid;
								border-radius: 100%;
								border-color: #d66049;
								background-color: #d66049;
							}
						}
					}
				}
			}
		}
    }
}

/* Section 6 */
#section-posicionamiento{
    min-height: 100%;
	height: auto;
    .content_posicionamiento{
        position: relative;
		height: auto;
        margin-top: 158px;

        .title{
			color : $darkColor;
			h3{
				font-weight: bolder;
				font-size: 38px;
				font-family: 'sourcesanspro-bold';
			}
	
			h4{
				font-size: 18px;
				color: $dark;
				font-family: 'sourcesanspro-regular';
				img{
					position: relative;
					top: -5px;
					margin-right: 5px;
				}
			}
		}

        .image-show{
			display: none;
		}

        .text-image{
			img{
				z-index: 1;
				position: relative;
				width: 441.2px;
				height: 538px;
			}
			
			.text-footer{
				color: $primaryColor;
				margin-top: 10px;
				font-size: 20px;
				font-family: 'sourcesanspro-semibold';
			}

			.div-count{
				width: 100%;
				height: 85px;
				h4{
					float: left;
					color: $darkColor;
					font-size: 58px;
					font-family: 'inter-bold';
				}
	
				.pesos{
					position: relative;
					top: 10px;
					left: 10px;
					width: 100px;
					font-size: 20px;
					font-family: 'inter-bold';
				}
			}
			p{
				min-height: 60px;
				height: auto;
				font-size: 16px;
				font-family: 'sourcesanspro-regular';
			}
		}
    }
}

/* Section 7 */

#section-daelpaso{
    height: 608px;
    color: $colorWhite;
    .container{
		height: 100%;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		h2{
			font-size: 38px;
			font-family: 'inter-bold';
			padding: 10px 40px;
			text-align: center;
		}

		button{
			margin: 0px auto;
			margin-top: 50px;
			height: 40px;
			font-size: 12px;
			font-weight: 'inter-bold';

		}

		img{
			width: 150px;
			margin: 0px auto;
			margin-top: 100px;
		}
	}
}


/* Media Query */
@media only screen and (max-width: 400px) {}
@media only screen and (max-width: 600px) {
	#section-testimonios{
		.content_testimonios{
			.slider{
				h5{
					font-size: 20px !important;
				}
				h6{
					font-size: 18px !important;
				}
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	#section-te-brindamos{
		#card-points{
			padding: 40px;
		}

		#oportunidad{
			.image-person{
				img{
					width: 100%;
					height: 90%;
				}
			}

			.text-checks{
				h2{
					font-size: 26px;
					.salto{
						display: inline;
					}
				}

				.check{
					p{
						font-size: 20px;
					}
				}

				h3{
					font-size: 16px;
					font-weight: bold;
					margin-top: 61px;
				}
			}
		}
	}

	#section-olvidate{
		#olvidate{
			h3{
				font-size: 26px !important;
			}

			p{
				font-size: 18px !important;
				span{
					font-weight: bold;
					.salto{
						display: inline !important;
					}
				}
			}

		}
	}

	#section-posicionamiento{
		.content_posicionamiento{
			.title{
				h3{
					font-size: 26px;
				}
				h4{
					font-size: 16px;
				}
			}
			.image-show{
				display: flex;
			}
			.div-count{
				text-align: center;
				.counter{
					font-size: 40px !important;
				}

				.pesos{
					font-size: 16px !important;
				}

				.signos{
					font-size: 30px !important;
				}
			}
			p{
				font-size: 14px !important;
			}

			.text-footer{
				font-size: 18px !important;
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	#section-partners{
		.content_partners{
			h3{
				font-size: 22px !important;
			}
			h2{
				font-size: 34px !important;
			}
			h4{
				font-size: 20px !important;
			}
			img{
				width: 286.32px !important;
				height: 40px !important;
			}
		}
	}

	#section-posicionamiento{
		.text-image{
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 1500px) {}

@media screen and ( max-height: 700px ) {
	#section-partners{
		.content_partners{
			margin-top: 150px !important;
		}
	}
	#section-olvidate{
		#olvidate{
			margin-top: 100px !important;
		}
	}

	.content-box{
		position: relative;
		top: 0px !important;

		#scroll-vertical-content{
			position: relative;
			top: -70px;
		}
	}
}
@media screen and ( max-height: 800px ) {}
@media screen and ( max-height: 900px ) {}