@import 'main';

/* Section 1*/
#section_que_mueve{
    background-position: 80% 120%;
	background-image: url('/imgs/page2/cover-lo-que-nos-mueve.jpg'); 
	background-size: cover;
	background-attachment: fixed;

    .content_que_mueve{
        position: relative;
        height: 90vh;
        .row{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            text-align: center;
            height: 100%;

            h3{
				span{
					color: $colorPink;
				}
                
				font-size: 32px;
				color: $colorWhite;
				font-family: 'inter-bold';
			}
        }
    }
}

/* Section 2 */
#section-sector-financiero{
    min-height: 100vh;
    height: auto;
	.background_color{
		min-height: 100vh;
        height: auto;
	}

    .content-sector-financiero{
        position: relative;
        margin-top: 20vh;
        min-height: 90vh;
	    height: auto;

        img{
            display: inline-block;
            width: 484px;
            height: 515px;
            position: relative;
        }

        .text{
            div{
                position: relative;
                margin-top: 70px;
                h3{
                    font-size: 20px;
                    font-family: 'sourcesanspro-bold';
                    margin-bottom: 25px;
                }
        
                h4{
                    font-size: 22px;
                    color: $darkColor;
                    font-family: 'inter-bold';
                    margin-bottom: 50px;
                }
    
                p{
                    margin-bottom: 20px;
                    font-size: 16px;
                    font-family: 'sourcesanspro-regular';
                }
            }
        }
    
    
    }
}

/* Section 3 */
#section-credito{
    position: relative;
    height: auto;

    .content_credito{
        margin-top: 190px;

        h3{
            color: $colorWhite;
            font-family: 'inter-bold';
            font-size: 38px;
            margin-bottom: 50px;
        }

        p{
            font-family: 'sourcesanspro-regular';
            font-size: 18px;
            color: $colorWhite;
    
            span{
                font-weight: bolder;
            }
        }

        #credito-parallax{
            border-radius: 15px 0px 0px 15px;
            position: absolute;
            right: 1px;
            bottom: 30px;
            z-index: 1;
            width: 45%;
        }
    
    }
}

/* Section 4 */
#section-creamos-finloop{
    background-image: url('../imgs/page2/creamos-finloop.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
    min-height: 90vh;
    height: auto;

    .content-crearmos-finloop{
        position: relative;
        margin-top: 200px;

        h4{
			color: $colorWhite;
			text-align: center;
			margin-top: 50px;
			margin-bottom: 30px;
			font-size: 20px;
			font-family: 'sourcesanspro-semibold';
		}

        h3{
			color: $colorWhite;
			text-align: center;
			font-size: 28px;
			font-family: 'inter-bold';
			margin-bottom: 80px;
			span{
				color: $colorPink;
			}

			.remove{
				display: block;
			}
		}

        p{
			color: $colorWhite;
			text-align: center;
			font-size: 'sourcesanspro-regular';
			font-size: 16px;
			margin: 0;
		}

        .button-orange{
			height: 40px;
			width: 300px;
			margin: 0px auto;
			top: 40px;
			position: relative;
			a{
				outline: none;
				text-decoration: none;
				font-size: 12px;
				position: relative;
				font-family: 'inter-bold';
				top: -2px;
				width: 115%;
			}
		}

    }
}

/* Section 5*/

#section-team{
    min-height: 100vh;
	height: auto;
    #content-equipo{
        margin-top: 188px;
        width: 100%;
        h3{
			text-align: center;
			color: $darkColor;
			font-weight: bolder;
			font-size: 38px;
			font-family: 'inter-bold';
		}

        h4{
			font-family: 'sourcesanspro-regular';
			font-size: 18px;
			text-align: center;
			margin-top: 30px;
			span{
				color: $darkColor;
				font-weight: bolder;
			}
		}

        .row{
            position: relative;
            margin-top: 70px;

            img{
				width: 232px;
			}
            
            .cargos{
				margin-bottom: 25px;
				h4{
					color: $darkColor;
					font-size: 16px;
					font-family: 'sourcesansro-Bold';
					margin-top: 10px;
				}
	
				h5{
					color: $darkColor;
					font-size: 14px;
					font-family: 'sourcesanspro-regular';
				}
	
				p{
					text-align: center;
					font-size: 14px;
					font-family: 'sourcesanspro-regular';
				}
			}
        }
    }
}

/*Section 6 */
#section-gallery{
    min-height: 50%;
    height: auto;
    #text-and-slider{
        #text{
            h3{
				position: relative;
				top: 100px;
				color: $colorWhite;
				text-align: right;
				font-size: 28px;
				font-family: 'inter-bold';
				span{
					color: $colorPink;
				}
			}
        }

        #gallery{
			position: relative;
			top: 60px;
			#slider{
				width: 100%;
				text-align: center;
				top: -100px;
				img{
					position: initial;
					top: -100px;
					border-radius: 15px;
					width: 100%;
				}
			}

			#controlls{
				height: 50px;
				position: relative;
				top: -100px;
				text-align: right;
				padding: 1em;
				img{
					cursor: pointer;
					height: 28px;
					position: relative;
					top: -7px;
					margin-right: 5px;
				}
			}
		}

        #previous {
            transform: rotate(-180deg);
        }
    }

    .footer-img{
		position: relative;
		top: -60px;
		text-align: center;
		img{
			margin: 0px auto;
			width: 200px;
		}
	}
}



/* Media Query */
@media only screen and (max-width: 400px) {}
@media only screen and (max-width: 600px) {
	#section-credito{
		.content_credito{
			#credito-parallax{
				top: 50px !important;
				width: 100%;
				height: 100%;
			}
		}
	}
}
@media only screen and (max-width: 768px) {
	#section-creamos-finloop{
		.content-crearmos-finloop{
			h4{
				font-size: 18px;
			}
			h3{
				font-size: 24px;
				.salto{
					display: inline !important;
				}
				margin-bottom: 10px;
			}
			p{
				margin-top: 4px;
				font-size: 14px;
			}
		}
	}

	#section-team{
		#content-equipo{
			h3{
				font-size: 26px;
			}
			h4 {
				font-size: 16px;
				.salto{
					display: inline;
				}
			}

			.row{
				img{
					width: 180px;
				}
				.cargos{
					h4{
						font: 16px;
						font-weight: bold;
					}	
				}
			}
		}
	}
}
@media only screen and (max-width: 992px) {
	#section_que_mueve{
		.content_que_mueve{
			h3{
				.salto{
					display: inline;
				}
			}
		}
	}

	#section-sector-financiero{
		.content-sector-financiero{
			.text{
				div{
					h3{
						font-size: 18px;
					}
					h4{
						font-size: 20px;
					}
					p{
						font-size: 14px;
					}
				}
			}
			.image{
				img{
					width: 100%;
					height: 70%;
				}
			}
		}
	}

	#section-credito{
		.content_credito{
			margin-top: 100px;
			#credito-parallax{
				position: relative;
				top: 10px;
				right: -10px;
			}
		}
	}

	#section-gallery{
		#text{
			h3{
				font-size: 24px !important;
				text-align: left !important;
				.salto{
					display: inline !important;
				}
			}
		}
		#gallery{
			margin-top: 100px;
			#slider{
				top: 0px !important;
				/*img{
    				height: 400px;
				}*/
			}
			#controlls{
				margin-top: 100px;
				text-align: center !important;
			}
		}
	}
	
}
@media only screen and (max-width: 1200px) {}
@media only screen and (max-width: 1500px) {}

@media screen and ( max-height: 700px ) {
}
@media screen and ( max-height: 800px ) {
	#section-creamos-finloop{
		.content-crearmos-finloop{
			margin-top: 70px;
		}
	}
}
@media screen and ( max-height: 900px ) {}